:root {
	font:16px Arial;
}
body {
	background-color: #ddd;
	color: #444;
	font-size: 1rem;
}
main {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 8px 0px #999;
	padding: 20px;
	margin: 40px auto;
	width: 600px;

}
h1 {
	text-align: center;
	border-bottom: 1px solid #ddd;
}