doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title JavaScript
body
	h1 JavaScript
	h3#mensaje
	script.
		var mensaje = document.getElementById("mensaje")
		var nombre = prompt("Cual es su nombre?"):
		if(nombre == "Lorena") {
			mensaje.innerHTML = "Bienvenido Aprendiz: "+nombre;
		} else {
			mensaje.innerHTML = "Bienvenido:"+nombre;
		} 
		
