doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Casos
	body
		h1 Casos
		-var amigos = 8
		case amigos
			when 0
				h4 usted no tiene amigos
			when 1
				h4 usted tiene un amigos
			when 2
			when 3
			when 4
				h4 usted tiene pocos amigos
			default
				h4 usted tiene#{amigos} Amigos
	

 
 

 
