extends inc/layout.pug

block title
	title Herencia en PUG
block content
	h1 Herencia en Pug
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut hic ad, perferendis dolorum sunt quaerat. Incidunt perspiciatis, omnis est ut vel accusamus consectetur, animi, modi aliquid labore nulla quae rem?