doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Comentarios
	body
		h1 Comentarios
		// Esto es un comentario y es visible en HTML
		//- Este es un comentario que no es visible en HTML

		//
			Esto es un 
			comentario
			de varias lineas
	